*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: sans-serif;
}

html ,body{
    width: 100%;
    /* overflow-x: hidden; */
    transition: 0.5s ease;
    background-color: var(--color-dark);
}

body::-webkit-scrollbar{
    display: none;
}

li a{
    text-decoration: none;
    color: inherit;
}

:root{
    --color-light: #B8C6FF;
    --color-main : #445BB1;
    --white : #fff;
    --color-dark :#0A112D;
}

/* .mindbend-wrapper{
    width: 100vw;
    overflow-x: hidden !important;
} */

.heading{
    color:#ffffff;
    font-size: 5vw;
    margin-top: 2vw;
}

.heading-div{
    font-size: 1rem;
    width: 90vw;
    align-items: center;
    justify-content: center;
    line-height: 10vh;
    text-align: center;
    margin: 3em 0;
}


.social-links{
    height: 1em;
    color: white;
    margin-top: 1.5em;
}

.twitter-svg{
    padding: 0.2em;
    
}

.linkedin-svg{
    padding: 0.2em;
}

.twitter-svg:hover{
    background-color: rgb(203, 201, 245);
    border-radius: 20%;
}

.linkedin-svg:hover{
    background-color: rgb(203, 201, 245);
    border-radius: 20%;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font: Poppins;
    size: 100px;
}

.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content:space-between;
    padding: 25px 0px;
    font-size: 1.5rem;

}

.logo{
    padding: 0px 10px;
    cursor: pointer;
    margin: auto;
}

.nav_items{
    list-style-type: none;
    display: flex;
    margin:  auto ;
    justify-content: center;
    /* color: var(--color-main); */
    color: white;
}

.list_items{
    margin : 0px 25px;
    font-weight: 500;
    cursor: pointer;
}

.list_items:hover{
    color: var(--white);
}

.hamburger:hover .ham_lines{
    opacity: 100;
}

.ham_lines{
    background-color: var(--color-light);
    margin:0.175rem auto;
    padding: auto;
    width: 1.5rem;
    height: 0.1rem;
    opacity: 0.6;
}

.text_CS{
    font-size: 10vw;
    /* margin: 10%; */
    color: white;
    position: absolute;
    top: 40%;

}

.sponsors{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    flex-wrap: wrap;
}

.sponsor-card{
    display: flex;
    flex-direction: column;
    margin: 5vw;
    align-items: center;
    justify-content: center;
}

.spn-img{
    width: 14vw;
}

.img-div{
    height: 14vw;
    display: flex;
    align-items: center;
}

.spn-text{
    font-size:3vh;    
    color: #ffffff;
    margin-top: 0.7em;
}

.title{
    font-size: 1.5rem;
    margin: 2rem 0;
}

.title-img-div {
    height: auto;
}

.title-img{
    width: 20vw;
}

@media (max-width:970px)
{

}

@media (max-width:600px)
{
    .sponsors{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2vw;
    }
    
    .sponsor-card{
        display: flex;
        flex-direction: column;
        margin: 5vw;
        align-items: center;
        justify-content: center;
    }
    
    .spn-img{
        width: 30vh;
    }
    
    .img-div{
        height: auto;
        display: flex;
        align-items: center;
    }
    
    .spn-text{
        font-size:6vw;    
        color: #ffffff;
        margin-top: 0.7em;
    }
    
    .title{
        font-size: 8vw;
    }
    
    .title-img-div {
        height: auto;
    }
    
    .title-img{
        width: 45vh;
    }

}

@media only screen and (min-width: 375px) and (max-width: 812px) {
    .box{    
        padding-top: 60px;
        padding-bottom: 60px;
    }


  }

@media (max-width : 1320px){
    .nav_items{
        opacity: 0;
        display: none;
    }
    .text{
        opacity: 0;
        display: none;
    }
    .hamburger{
        opacity: 1;
        cursor: pointer;
        z-index: 1000;
        pointer-events: auto;
    }
    .logo{
        margin: auto 0px;
        margin-left: 1rem;
        padding: 0;
        z-index: 1000;
    }
    
    html{
        overflow-x: hidden !important;
        width: 100vw !important;
    }
}
